<pre style="background-color:#1e1e2e;color:#cdd6f4">
<span style="color:#6c7086;font-style:italic">/**</span>
<span style="color:#6c7086;font-style:italic"> * </span><span style="color:#f9e2af;font-style:italic">SPDX-FileCopyrightText:</span><span style="color:#6c7086;font-style:italic"> 2020 Christoph Cullmann </span><span style="color:#cba6f7;font-weight:bold">&lt;cullmann@kde.org></span>
<span style="color:#6c7086;font-style:italic"> * </span><span style="color:#f9e2af;font-style:italic">SPDX-License-Identifier:</span><span style="color:#f9e2af;font-style:italic"> </span><span style="color:#f9e2af;font-style:italic">MIT</span>
<span style="color:#6c7086;font-style:italic"> */</span>

<span style="color:#6c7086;font-style:italic">// </span><span style="color:#6c7086;font-style:italic">BEGIN</span>
<span style="color:#cba6f7">#include </span>&lt;string>
<span style="color:#cba6f7">#include </span>&lt;QString>
<span style="color:#6c7086;font-style:italic">// </span><span style="color:#6c7086;font-style:italic">END</span>

<span style="color:#6c7086;font-style:italic">/**</span>
<span style="color:#6c7086;font-style:italic"> * </span><span style="color:#11111b;background-color:#f9e2af;font-weight:bold">TODO</span><span style="color:#6c7086;font-style:italic">: improve documentation</span>
<span style="color:#6c7086;font-style:italic"> * </span><span style="color:#f38ba8;font-weight:bold">@param</span><span style="color:#6c7086;font-style:italic"> </span><span style="color:#6c7086;font-weight:bold">magicArgument</span><span style="color:#6c7086;font-style:italic"> some magic argument</span>
<span style="color:#6c7086;font-style:italic"> * </span><span style="color:#f38ba8;font-weight:bold">@return</span><span style="color:#6c7086;font-style:italic"> magic return value</span>
<span style="color:#6c7086;font-style:italic"> */</span>
<span style="color:#cba6f7">int</span> main<span style="color:#89dceb">(</span><span style="color:#cba6f7">uint64_t</span> magicArgument<span style="color:#89dceb">)</span>
<span style="color:#89dceb">{</span>
    <span style="color:#cba6f7">if</span> <span style="color:#89dceb">(</span>magicArgument <span style="color:#89dceb">></span> <span style="color:#fab387">1</span><span style="color:#89dceb">)</span> <span style="color:#89dceb">{</span>
        <span style="color:#cba6f7">const</span> std::string string <span style="color:#89dceb">=</span> <span style="color:#a6e3a1">"source file: </span><span style="color:#f5c2e7">\"</span><span style="color:#a6e3a1">"</span> __FILE__ <span style="color:#a6e3a1">"</span><span style="color:#f5c2e7">\"</span><span style="color:#a6e3a1">"</span><span style="color:#89dceb">;</span>
        <span style="color:#cba6f7">const</span> QString qString<span style="color:#89dceb">(</span>QStringLiteral<span style="color:#89dceb">(</span><span style="color:#a6e3a1">"test"</span><span style="color:#89dceb">))</span><span style="color:#89dceb">;</span>
        <span style="color:#cba6f7">return</span> qrand<span style="color:#89dceb">()</span><span style="color:#89dceb">;</span>
    <span style="color:#89dceb">}</span>

    <span style="color:#6c7086;font-style:italic">/* </span><span style="color:#11111b;background-color:#f9e2af;font-weight:bold">BUG</span><span style="color:#6c7086;font-style:italic">: bogus integer constant inside next line */</span>
    <span style="color:#cba6f7">const</span> <span style="color:#cba6f7">double</span> g <span style="color:#89dceb">=</span> <span style="color:#fab387">1.1e12</span> <span style="color:#89dceb">*</span> <span style="color:#fab387">0b01'01'01'01</span> <span style="color:#89dceb">-</span> <span style="color:#fab387">43</span><span style="color:#f38ba8;text-decoration:underline">a</span> <span style="color:#89dceb">+</span> <span style="color:#fab387">0x11234</span> <span style="color:#89dceb">*</span> <span style="color:#fab387">0234</span><span style="color:#a6e3a1">ULL</span> <span style="color:#89dceb">-</span> <span style="color:#f5c2e7">'c'</span> <span style="color:#89dceb">*</span> <span style="color:#fab387">42</span><span style="color:#89dceb">;</span>
    <span style="color:#cba6f7">return</span> g <span style="color:#89dceb">></span> <span style="color:#fab387">1.3</span><span style="color:#a6e3a1">f</span><span style="color:#89dceb">;</span>
<span style="color:#89dceb">}</span>
</pre>
