<pre style="background-color:#303446;color:#c6d0f5">
<span style="color:#737994;font-style:italic">/**</span>
<span style="color:#737994;font-style:italic"> * </span><span style="color:#e5c890;font-style:italic">SPDX-FileCopyrightText:</span><span style="color:#737994;font-style:italic"> 2020 Christoph Cullmann </span><span style="color:#ca9ee6;font-weight:bold">&lt;cullmann@kde.org></span>
<span style="color:#737994;font-style:italic"> * </span><span style="color:#e5c890;font-style:italic">SPDX-License-Identifier:</span><span style="color:#e5c890;font-style:italic"> </span><span style="color:#e5c890;font-style:italic">MIT</span>
<span style="color:#737994;font-style:italic"> */</span>

<span style="color:#737994;font-style:italic">// </span><span style="color:#737994;font-style:italic">BEGIN</span>
<span style="color:#ca9ee6">#include </span>&lt;string>
<span style="color:#ca9ee6">#include </span>&lt;QString>
<span style="color:#737994;font-style:italic">// </span><span style="color:#737994;font-style:italic">END</span>

<span style="color:#737994;font-style:italic">/**</span>
<span style="color:#737994;font-style:italic"> * </span><span style="color:#232634;background-color:#e5c890;font-weight:bold">TODO</span><span style="color:#737994;font-style:italic">: improve documentation</span>
<span style="color:#737994;font-style:italic"> * </span><span style="color:#e78284;font-weight:bold">@param</span><span style="color:#737994;font-style:italic"> </span><span style="color:#737994;font-weight:bold">magicArgument</span><span style="color:#737994;font-style:italic"> some magic argument</span>
<span style="color:#737994;font-style:italic"> * </span><span style="color:#e78284;font-weight:bold">@return</span><span style="color:#737994;font-style:italic"> magic return value</span>
<span style="color:#737994;font-style:italic"> */</span>
<span style="color:#ca9ee6">int</span> main<span style="color:#99d1db">(</span><span style="color:#ca9ee6">uint64_t</span> magicArgument<span style="color:#99d1db">)</span>
<span style="color:#99d1db">{</span>
    <span style="color:#ca9ee6">if</span> <span style="color:#99d1db">(</span>magicArgument <span style="color:#99d1db">></span> <span style="color:#ef9f76">1</span><span style="color:#99d1db">)</span> <span style="color:#99d1db">{</span>
        <span style="color:#ca9ee6">const</span> std::string string <span style="color:#99d1db">=</span> <span style="color:#a6d189">"source file: </span><span style="color:#f4b8e4">\"</span><span style="color:#a6d189">"</span> __FILE__ <span style="color:#a6d189">"</span><span style="color:#f4b8e4">\"</span><span style="color:#a6d189">"</span><span style="color:#99d1db">;</span>
        <span style="color:#ca9ee6">const</span> QString qString<span style="color:#99d1db">(</span>QStringLiteral<span style="color:#99d1db">(</span><span style="color:#a6d189">"test"</span><span style="color:#99d1db">))</span><span style="color:#99d1db">;</span>
        <span style="color:#ca9ee6">return</span> qrand<span style="color:#99d1db">()</span><span style="color:#99d1db">;</span>
    <span style="color:#99d1db">}</span>

    <span style="color:#737994;font-style:italic">/* </span><span style="color:#232634;background-color:#e5c890;font-weight:bold">BUG</span><span style="color:#737994;font-style:italic">: bogus integer constant inside next line */</span>
    <span style="color:#ca9ee6">const</span> <span style="color:#ca9ee6">double</span> g <span style="color:#99d1db">=</span> <span style="color:#ef9f76">1.1e12</span> <span style="color:#99d1db">*</span> <span style="color:#e78284">0b01'01'01'01</span> <span style="color:#99d1db">-</span> <span style="color:#ef9f76">43</span><span style="color:#e78284;text-decoration:underline">a</span> <span style="color:#99d1db">+</span> <span style="color:#e78284">0x11234</span> <span style="color:#99d1db">*</span> <span style="color:#e78284">0234</span><span style="color:#a6d189">ULL</span> <span style="color:#99d1db">-</span> <span style="color:#f4b8e4">'c'</span> <span style="color:#99d1db">*</span> <span style="color:#ef9f76">42</span><span style="color:#99d1db">;</span>
    <span style="color:#ca9ee6">return</span> g <span style="color:#99d1db">></span> <span style="color:#ef9f76">1.3</span><span style="color:#a6d189">f</span><span style="color:#99d1db">;</span>
<span style="color:#99d1db">}</span>
</pre>
