<pre style="background-color:#24273a;color:#cad3f5">
<span style="color:#6e738d;font-style:italic">/**</span>
<span style="color:#6e738d;font-style:italic"> * </span><span style="color:#eed49f;font-style:italic">SPDX-FileCopyrightText:</span><span style="color:#6e738d;font-style:italic"> 2020 Christoph Cullmann </span><span style="color:#c6a0f6;font-weight:bold">&lt;cullmann@kde.org></span>
<span style="color:#6e738d;font-style:italic"> * </span><span style="color:#eed49f;font-style:italic">SPDX-License-Identifier:</span><span style="color:#eed49f;font-style:italic"> </span><span style="color:#eed49f;font-style:italic">MIT</span>
<span style="color:#6e738d;font-style:italic"> */</span>

<span style="color:#6e738d;font-style:italic">// </span><span style="color:#6e738d;font-style:italic">BEGIN</span>
<span style="color:#c6a0f6">#include </span>&lt;string>
<span style="color:#c6a0f6">#include </span>&lt;QString>
<span style="color:#6e738d;font-style:italic">// </span><span style="color:#6e738d;font-style:italic">END</span>

<span style="color:#6e738d;font-style:italic">/**</span>
<span style="color:#6e738d;font-style:italic"> * </span><span style="color:#181926;background-color:#eed49f;font-weight:bold">TODO</span><span style="color:#6e738d;font-style:italic">: improve documentation</span>
<span style="color:#6e738d;font-style:italic"> * </span><span style="color:#ed8796;font-weight:bold">@param</span><span style="color:#6e738d;font-style:italic"> </span><span style="color:#6e738d;font-weight:bold">magicArgument</span><span style="color:#6e738d;font-style:italic"> some magic argument</span>
<span style="color:#6e738d;font-style:italic"> * </span><span style="color:#ed8796;font-weight:bold">@return</span><span style="color:#6e738d;font-style:italic"> magic return value</span>
<span style="color:#6e738d;font-style:italic"> */</span>
<span style="color:#c6a0f6">int</span> main<span style="color:#91d7e3">(</span><span style="color:#c6a0f6">uint64_t</span> magicArgument<span style="color:#91d7e3">)</span>
<span style="color:#91d7e3">{</span>
    <span style="color:#c6a0f6">if</span> <span style="color:#91d7e3">(</span>magicArgument <span style="color:#91d7e3">></span> <span style="color:#f5a97f">1</span><span style="color:#91d7e3">)</span> <span style="color:#91d7e3">{</span>
        <span style="color:#c6a0f6">const</span> std::string string <span style="color:#91d7e3">=</span> <span style="color:#a6da95">"source file: </span><span style="color:#f5bde6">\"</span><span style="color:#a6da95">"</span> __FILE__ <span style="color:#a6da95">"</span><span style="color:#f5bde6">\"</span><span style="color:#a6da95">"</span><span style="color:#91d7e3">;</span>
        <span style="color:#c6a0f6">const</span> QString qString<span style="color:#91d7e3">(</span>QStringLiteral<span style="color:#91d7e3">(</span><span style="color:#a6da95">"test"</span><span style="color:#91d7e3">))</span><span style="color:#91d7e3">;</span>
        <span style="color:#c6a0f6">return</span> qrand<span style="color:#91d7e3">()</span><span style="color:#91d7e3">;</span>
    <span style="color:#91d7e3">}</span>

    <span style="color:#6e738d;font-style:italic">/* </span><span style="color:#181926;background-color:#eed49f;font-weight:bold">BUG</span><span style="color:#6e738d;font-style:italic">: bogus integer constant inside next line */</span>
    <span style="color:#c6a0f6">const</span> <span style="color:#c6a0f6">double</span> g <span style="color:#91d7e3">=</span> <span style="color:#f5a97f">1.1e12</span> <span style="color:#91d7e3">*</span> <span style="color:#ed8796">0b01'01'01'01</span> <span style="color:#91d7e3">-</span> <span style="color:#f5a97f">43</span><span style="color:#ed8796;text-decoration:underline">a</span> <span style="color:#91d7e3">+</span> <span style="color:#ed8796">0x11234</span> <span style="color:#91d7e3">*</span> <span style="color:#ed8796">0234</span><span style="color:#a6da95">ULL</span> <span style="color:#91d7e3">-</span> <span style="color:#f5bde6">'c'</span> <span style="color:#91d7e3">*</span> <span style="color:#f5a97f">42</span><span style="color:#91d7e3">;</span>
    <span style="color:#c6a0f6">return</span> g <span style="color:#91d7e3">></span> <span style="color:#f5a97f">1.3</span><span style="color:#a6da95">f</span><span style="color:#91d7e3">;</span>
<span style="color:#91d7e3">}</span>
</pre>
