<pre style="background-color:#ffffff;color:#24292e">
<span style="color:#6a737d">/**</span>
<span style="color:#6a737d"> * </span><span style="color:#6a737d;font-style:italic">SPDX-FileCopyrightText:</span><span style="color:#6a737d"> 2020 Christoph Cullmann </span><span style="color:#d73a49;font-weight:bold">&lt;cullmann@kde.org></span>
<span style="color:#6a737d"> * </span><span style="color:#6a737d;font-style:italic">SPDX-License-Identifier:</span><span style="color:#6a737d;font-style:italic"> </span><span style="color:#6a737d;font-style:italic">MIT</span>
<span style="color:#6a737d"> */</span>

<span style="color:#6a737d">// </span><span style="color:#6a737d">BEGIN</span>
<span style="color:#d73a49">#include </span><span style="color:#032f62">&lt;string></span>
<span style="color:#d73a49">#include </span><span style="color:#032f62">&lt;QString></span>
<span style="color:#6a737d">// </span><span style="color:#6a737d">END</span>

<span style="color:#6a737d">/**</span>
<span style="color:#6a737d"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold">TODO</span><span style="color:#6a737d">: improve documentation</span>
<span style="color:#6a737d"> * </span><span style="color:#6a737d;font-weight:bold">@param</span><span style="color:#6a737d"> </span><span style="color:#6a737d;font-weight:bold">magicArgument</span><span style="color:#6a737d"> some magic argument</span>
<span style="color:#6a737d"> * </span><span style="color:#6a737d;font-weight:bold">@return</span><span style="color:#6a737d"> magic return value</span>
<span style="color:#6a737d"> */</span>
<span style="color:#d73a49">int</span> main(<span style="color:#d73a49">uint64_t</span> magicArgument)
{
    <span style="color:#d73a49">if</span> (magicArgument > <span style="color:#005cc5">1</span>) {
        <span style="color:#d73a49">const</span> <span style="color:#d73a49">std::string</span> string = <span style="color:#032f62">"source file: </span><span style="color:#005cc5">\"</span><span style="color:#032f62">"</span> <span style="color:#6f42c1">__FILE__</span> <span style="color:#032f62">"</span><span style="color:#005cc5">\"</span><span style="color:#032f62">"</span>;
        <span style="color:#d73a49">const</span> <span style="color:#d73a49;font-weight:bold">QString</span> qString(<span style="color:#d73a49;font-weight:bold">QStringLiteral</span>(<span style="color:#032f62">"test"</span>));
        <span style="color:#d73a49">return</span> <span style="color:#6f42c1">qrand</span>();
    }

    <span style="color:#6a737d">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold">BUG</span><span style="color:#6a737d">: bogus integer constant inside next line */</span>
    <span style="color:#d73a49">const</span> <span style="color:#d73a49">double</span> g = <span style="color:#005cc5">1.1e12</span> * <span style="color:#005cc5">0b01'01'01'01</span> - <span style="color:#005cc5">43</span><span style="color:#ff5555;text-decoration:underline">a</span> + <span style="color:#005cc5">0x11234</span> * <span style="color:#005cc5">0234</span><span style="color:#d73a49">ULL</span> - <span style="color:#032f62">'c'</span> * <span style="color:#005cc5">42</span>;
    <span style="color:#d73a49">return</span> g > <span style="color:#005cc5">1.3</span><span style="color:#d73a49">f</span>;
}
</pre>
