<pre style="background-color:#fbf1c7;color:#3c3836">
<span style="color:#928374">/**</span>
<span style="color:#928374"> * </span><span style="color:#98971a;font-style:italic">SPDX-FileCopyrightText:</span><span style="color:#928374"> 2020 Christoph Cullmann </span><span style="font-weight:bold">&lt;cullmann@kde.org></span>
<span style="color:#928374"> * </span><span style="color:#98971a;font-style:italic">SPDX-License-Identifier:</span><span style="color:#98971a;font-style:italic"> </span><span style="color:#98971a;font-style:italic">MIT</span>
<span style="color:#928374"> */</span>

<span style="color:#928374">// </span><span style="color:#928374;background-color:#f9f5d7">BEGIN</span>
<span style="color:#d65d0e">#include </span><span style="color:#689d6a">&lt;string></span>
<span style="color:#d65d0e">#include </span><span style="color:#689d6a">&lt;QString></span>
<span style="color:#928374">// </span><span style="color:#928374;background-color:#f9f5d7">END</span>

<span style="color:#928374">/**</span>
<span style="color:#928374"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold">TODO</span><span style="color:#928374">: improve documentation</span>
<span style="color:#928374"> * </span><span style="color:#98971a;font-weight:bold">@param</span><span style="color:#928374"> </span><span style="color:#928374;font-weight:bold">magicArgument</span><span style="color:#928374"> some magic argument</span>
<span style="color:#928374"> * </span><span style="color:#98971a;font-weight:bold">@return</span><span style="color:#928374"> magic return value</span>
<span style="color:#928374"> */</span>
<span style="color:#d79921">int</span> main(<span style="color:#d79921">uint64_t</span> magicArgument)
{
    <span style="color:#cc241d;font-weight:bold">if</span> (magicArgument > <span style="color:#f67400">1</span>) {
        <span style="color:#d79921">const</span> <span style="color:#d65d0e">std::string</span> string = <span style="color:#98971a">"source file: </span><span style="color:#b16286">\"</span><span style="color:#98971a">"</span> <span style="color:#689d6a">__FILE__</span> <span style="color:#98971a">"</span><span style="color:#b16286">\"</span><span style="color:#98971a">"</span>;
        <span style="color:#d79921">const</span> <span style="color:#689d6a;font-weight:bold">QString</span> qString(<span style="color:#689d6a;font-weight:bold">QStringLiteral</span>(<span style="color:#98971a">"test"</span>));
        <span style="color:#cc241d;font-weight:bold">return</span> <span style="color:#689d6a">qrand</span>();
    }

    <span style="color:#928374">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold">BUG</span><span style="color:#928374">: bogus integer constant inside next line */</span>
    <span style="color:#d79921">const</span> <span style="color:#d79921">double</span> g = <span style="color:#f67400">1.1e12</span> * <span style="color:#f67400">0b01'01'01'01</span> - <span style="color:#f67400">43</span><span style="color:#cc241d;text-decoration:underline">a</span> + <span style="color:#f67400">0x11234</span> * <span style="color:#f67400">0234</span><span style="color:#d65d0e">ULL</span> - <span style="color:#b16286">'c'</span> * <span style="color:#f67400">42</span>;
    <span style="color:#cc241d;font-weight:bold">return</span> g > <span style="color:#f67400">1.3</span><span style="color:#d65d0e">f</span>;
}
</pre>
