<pre style="background-color:#272822;color:#f8f8f2">
<span style="color:#75715e">/**</span>
<span style="color:#75715e"> * </span><span style="color:#75715e;font-style:italic">SPDX-FileCopyrightText:</span><span style="color:#75715e"> 2020 Christoph Cullmann </span><span style="color:#f92672;font-weight:bold">&lt;cullmann@kde.org></span>
<span style="color:#75715e"> * </span><span style="color:#75715e;font-style:italic">SPDX-License-Identifier:</span><span style="color:#75715e;font-style:italic"> </span><span style="color:#75715e;font-style:italic">MIT</span>
<span style="color:#75715e"> */</span>

<span style="color:#75715e">// </span><span style="color:#75715e">BEGIN</span>
<span style="color:#f92672">#include </span><span style="color:#e6db74">&lt;string></span>
<span style="color:#f92672">#include </span><span style="color:#e6db74">&lt;QString></span>
<span style="color:#75715e">// </span><span style="color:#75715e">END</span>

<span style="color:#75715e">/**</span>
<span style="color:#75715e"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold">TODO</span><span style="color:#75715e">: improve documentation</span>
<span style="color:#75715e"> * </span><span style="color:#52afbf">@param</span><span style="color:#75715e"> </span><span style="color:#7ba822;text-decoration:underline">magicArgument</span><span style="color:#75715e"> some magic argument</span>
<span style="color:#75715e"> * </span><span style="color:#52afbf">@return</span><span style="color:#75715e"> magic return value</span>
<span style="color:#75715e"> */</span>
<span style="color:#66d9ef;font-style:italic">int</span> main(<span style="color:#66d9ef;font-style:italic">uint64_t</span> magicArgument)
{
    <span style="color:#f92672">if</span> (magicArgument > <span style="color:#ae81ff">1</span>) {
        <span style="color:#f92672">const</span> <span style="color:#66d9ef">std::string</span> string = <span style="color:#e6db74">"source file: </span><span style="color:#ae81ff">\"</span><span style="color:#e6db74">"</span> <span style="color:#f92672">__FILE__</span> <span style="color:#e6db74">"</span><span style="color:#ae81ff">\"</span><span style="color:#e6db74">"</span>;
        <span style="color:#f92672">const</span> <span style="color:#66d9ef">QString</span> qString(<span style="color:#66d9ef">QStringLiteral</span>(<span style="color:#e6db74">"test"</span>));
        <span style="color:#f92672">return</span> <span style="color:#a6e22e">qrand</span>();
    }

    <span style="color:#75715e">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold">BUG</span><span style="color:#75715e">: bogus integer constant inside next line */</span>
    <span style="color:#f92672">const</span> <span style="color:#66d9ef;font-style:italic">double</span> g = <span style="color:#ae81ff">1.1e12</span> * <span style="color:#ae81ff">0b01'01'01'01</span> - <span style="color:#ae81ff">43</span><span style="color:#ff5555;text-decoration:underline">a</span> + <span style="color:#ae81ff">0x11234</span> * <span style="color:#ae81ff">0234</span><span style="color:#f92672">ULL</span> - <span style="color:#e6db74">'c'</span> * <span style="color:#ae81ff">42</span>;
    <span style="color:#f92672">return</span> g > <span style="color:#ae81ff">1.3</span><span style="color:#f92672">f</span>;
}
</pre>
