<pre style="background-color:#2e3440;color:#d8dee9">
<span style="color:#616e88">/**</span>
<span style="color:#616e88"> * </span><span style="color:#d08770;font-style:italic">SPDX-FileCopyrightText:</span><span style="color:#616e88"> 2020 Christoph Cullmann </span><span style="color:#81a1c1;font-weight:bold">&lt;cullmann@kde.org></span>
<span style="color:#616e88"> * </span><span style="color:#d08770;font-style:italic">SPDX-License-Identifier:</span><span style="color:#d08770;font-style:italic"> </span><span style="color:#d08770;font-style:italic">MIT</span>
<span style="color:#616e88"> */</span>

<span style="color:#616e88">// </span><span style="color:#88c0d0;background-color:#3b4252">BEGIN</span>
<span style="color:#5e81ac">#include </span><span style="color:#a3be8c">&lt;string></span>
<span style="color:#5e81ac">#include </span><span style="color:#a3be8c">&lt;QString></span>
<span style="color:#616e88">// </span><span style="color:#88c0d0;background-color:#3b4252">END</span>

<span style="color:#616e88">/**</span>
<span style="color:#616e88"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold">TODO</span><span style="color:#616e88">: improve documentation</span>
<span style="color:#616e88"> * </span><span style="color:#d08770;font-weight:bold">@param</span><span style="color:#616e88"> </span><span style="color:#e5e9f0;font-weight:bold">magicArgument</span><span style="color:#616e88"> some magic argument</span>
<span style="color:#616e88"> * </span><span style="color:#d08770;font-weight:bold">@return</span><span style="color:#616e88"> magic return value</span>
<span style="color:#616e88"> */</span>
<span style="color:#81a1c1">int</span> main<span style="color:#81a1c1">(</span><span style="color:#81a1c1">uint64_t</span> magicArgument<span style="color:#81a1c1">)</span>
<span style="color:#81a1c1">{</span>
    <span style="color:#81a1c1;font-weight:bold">if</span> <span style="color:#81a1c1">(</span>magicArgument <span style="color:#81a1c1">></span> <span style="color:#b48ead">1</span><span style="color:#81a1c1">)</span> <span style="color:#81a1c1">{</span>
        <span style="color:#8fbcbb">const</span> <span style="color:#88c0d0;font-style:italic">std::string</span> string <span style="color:#81a1c1">=</span> <span style="color:#a3be8c">"source file: </span><span style="color:#ebcb8b">\"</span><span style="color:#a3be8c">"</span> <span style="color:#8fbcbb">__FILE__</span> <span style="color:#a3be8c">"</span><span style="color:#ebcb8b">\"</span><span style="color:#a3be8c">"</span><span style="color:#81a1c1">;</span>
        <span style="color:#8fbcbb">const</span> <span style="color:#8fbcbb;font-weight:bold">QString</span> qString<span style="color:#81a1c1">(</span><span style="color:#8fbcbb;font-weight:bold">QStringLiteral</span><span style="color:#81a1c1">(</span><span style="color:#a3be8c">"test"</span><span style="color:#81a1c1">))</span><span style="color:#81a1c1">;</span>
        <span style="color:#81a1c1;font-weight:bold">return</span> <span style="color:#88c0d0">qrand</span><span style="color:#81a1c1">()</span><span style="color:#81a1c1">;</span>
    <span style="color:#81a1c1">}</span>

    <span style="color:#616e88">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold">BUG</span><span style="color:#616e88">: bogus integer constant inside next line */</span>
    <span style="color:#8fbcbb">const</span> <span style="color:#81a1c1">double</span> g <span style="color:#81a1c1">=</span> <span style="color:#b48ead">1.1e12</span> <span style="color:#81a1c1">*</span> <span style="color:#b48ead">0b01'01'01'01</span> <span style="color:#81a1c1">-</span> <span style="color:#b48ead">43</span><span style="color:#bf616a;text-decoration:underline">a</span> <span style="color:#81a1c1">+</span> <span style="color:#b48ead">0x11234</span> <span style="color:#81a1c1">*</span> <span style="color:#b48ead">0234</span><span style="color:#88c0d0;font-style:italic">ULL</span> <span style="color:#81a1c1">-</span> <span style="color:#ebcb8b">'c'</span> <span style="color:#81a1c1">*</span> <span style="color:#b48ead">42</span><span style="color:#81a1c1">;</span>
    <span style="color:#81a1c1;font-weight:bold">return</span> g <span style="color:#81a1c1">></span> <span style="color:#b48ead">1.3</span><span style="color:#88c0d0;font-style:italic">f</span><span style="color:#81a1c1">;</span>
<span style="color:#81a1c1">}</span>
</pre>
