<pre style="background-color:#d5d6db;color:#343b58">
<span style="color:#9699a3">/**</span>
<span style="color:#9699a3"> * </span><span style="color:#7c7f87;font-style:italic">SPDX-FileCopyrightText:</span><span style="color:#9699a3"> 2020 Christoph Cullmann </span><span style="color:#5a4a78;font-weight:bold">&lt;cullmann@kde.org></span>
<span style="color:#9699a3"> * </span><span style="color:#7c7f87;font-style:italic">SPDX-License-Identifier:</span><span style="color:#7c7f87;font-style:italic"> </span><span style="color:#7c7f87;font-style:italic">MIT</span>
<span style="color:#9699a3"> */</span>

<span style="color:#9699a3">// </span><span style="color:#d5d6db;background-color:#0f0f14">BEGIN</span>
<span style="color:#5a4a78">#include </span><span style="color:#0f4b6e">&lt;string></span>
<span style="color:#5a4a78">#include </span><span style="color:#0f4b6e">&lt;QString></span>
<span style="color:#9699a3">// </span><span style="color:#d5d6db;background-color:#0f0f14">END</span>

<span style="color:#9699a3">/**</span>
<span style="color:#9699a3"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold">TODO</span><span style="color:#9699a3">: improve documentation</span>
<span style="color:#9699a3"> * </span><span style="color:#7c7f87;font-weight:bold">@param</span><span style="color:#9699a3"> </span><span style="color:#5a4a78;font-weight:bold">magicArgument</span><span style="color:#9699a3"> some magic argument</span>
<span style="color:#9699a3"> * </span><span style="color:#7c7f87;font-weight:bold">@return</span><span style="color:#9699a3"> magic return value</span>
<span style="color:#9699a3"> */</span>
<span style="color:#5a4a78">int</span> main<span style="color:#5a4a78">(</span><span style="color:#5a4a78">uint64_t</span> magicArgument<span style="color:#5a4a78">)</span>
<span style="color:#5a4a78">{</span>
    <span style="color:#5a4a78">if</span> <span style="color:#5a4a78">(</span>magicArgument <span style="color:#5a4a78">></span> <span style="color:#965027">1</span><span style="color:#5a4a78">)</span> <span style="color:#5a4a78">{</span>
        <span style="color:#5a4a78">const</span> <span style="color:#565a6e">std::string</span> string <span style="color:#5a4a78">=</span> <span style="color:#485e30">"source file: </span><span style="color:#0f4b6e">\"</span><span style="color:#485e30">"</span> <span style="color:#8c4351">__FILE__</span> <span style="color:#485e30">"</span><span style="color:#0f4b6e">\"</span><span style="color:#485e30">"</span><span style="color:#5a4a78">;</span>
        <span style="color:#5a4a78">const</span> <span style="color:#33635c">QString</span> qString<span style="color:#5a4a78">(</span><span style="color:#33635c">QStringLiteral</span><span style="color:#5a4a78">(</span><span style="color:#485e30">"test"</span><span style="color:#5a4a78">))</span><span style="color:#5a4a78">;</span>
        <span style="color:#5a4a78">return</span> <span style="color:#34548a">qrand</span><span style="color:#5a4a78">()</span><span style="color:#5a4a78">;</span>
    <span style="color:#5a4a78">}</span>

    <span style="color:#9699a3">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold">BUG</span><span style="color:#9699a3">: bogus integer constant inside next line */</span>
    <span style="color:#5a4a78">const</span> <span style="color:#5a4a78">double</span> g <span style="color:#5a4a78">=</span> <span style="color:#965027">1.1e12</span> <span style="color:#5a4a78">*</span> <span style="color:#965027">0b01'01'01'01</span> <span style="color:#5a4a78">-</span> <span style="color:#965027">43</span><span style="color:#bd4040">a</span> <span style="color:#5a4a78">+</span> <span style="color:#965027">0x11234</span> <span style="color:#5a4a78">*</span> <span style="color:#965027">0234</span><span style="color:#8c4351">ULL</span> <span style="color:#5a4a78">-</span> <span style="color:#485e30">'c'</span> <span style="color:#5a4a78">*</span> <span style="color:#965027">42</span><span style="color:#5a4a78">;</span>
    <span style="color:#5a4a78">return</span> g <span style="color:#5a4a78">></span> <span style="color:#965027">1.3</span><span style="color:#8c4351">f</span><span style="color:#5a4a78">;</span>
<span style="color:#5a4a78">}</span>
</pre>
