<pre style="background-color:#24283b;color:#a9b1d6">
<span style="color:#565f89">/**</span>
<span style="color:#565f89"> * </span><span style="color:#6a75a8;font-style:italic">SPDX-FileCopyrightText:</span><span style="color:#565f89"> 2020 Christoph Cullmann </span><span style="color:#bb9af7;font-weight:bold">&lt;cullmann@kde.org></span>
<span style="color:#565f89"> * </span><span style="color:#6a75a8;font-style:italic">SPDX-License-Identifier:</span><span style="color:#6a75a8;font-style:italic"> </span><span style="color:#6a75a8;font-style:italic">MIT</span>
<span style="color:#565f89"> */</span>

<span style="color:#565f89">// </span><span style="background-color:#414868">BEGIN</span>
<span style="color:#bb9af7">#include </span><span style="color:#7dcfff">&lt;string></span>
<span style="color:#bb9af7">#include </span><span style="color:#7dcfff">&lt;QString></span>
<span style="color:#565f89">// </span><span style="background-color:#414868">END</span>

<span style="color:#565f89">/**</span>
<span style="color:#565f89"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold">TODO</span><span style="color:#565f89">: improve documentation</span>
<span style="color:#565f89"> * </span><span style="color:#6a75a8;font-weight:bold">@param</span><span style="color:#565f89"> </span><span style="color:#bb9af7;font-weight:bold">magicArgument</span><span style="color:#565f89"> some magic argument</span>
<span style="color:#565f89"> * </span><span style="color:#6a75a8;font-weight:bold">@return</span><span style="color:#565f89"> magic return value</span>
<span style="color:#565f89"> */</span>
<span style="color:#bb9af7">int</span> main<span style="color:#bb9af7">(</span><span style="color:#bb9af7">uint64_t</span> magicArgument<span style="color:#bb9af7">)</span>
<span style="color:#bb9af7">{</span>
    <span style="color:#bb9af7">if</span> <span style="color:#bb9af7">(</span>magicArgument <span style="color:#bb9af7">></span> <span style="color:#ff9e64">1</span><span style="color:#bb9af7">)</span> <span style="color:#bb9af7">{</span>
        <span style="color:#bb9af7">const</span> <span style="color:#9aa5ce">std::string</span> string <span style="color:#bb9af7">=</span> <span style="color:#9ece6a">"source file: </span><span style="color:#7dcfff">\"</span><span style="color:#9ece6a">"</span> <span style="color:#f7768e">__FILE__</span> <span style="color:#9ece6a">"</span><span style="color:#7dcfff">\"</span><span style="color:#9ece6a">"</span><span style="color:#bb9af7">;</span>
        <span style="color:#bb9af7">const</span> <span style="color:#73daca">QString</span> qString<span style="color:#bb9af7">(</span><span style="color:#73daca">QStringLiteral</span><span style="color:#bb9af7">(</span><span style="color:#9ece6a">"test"</span><span style="color:#bb9af7">))</span><span style="color:#bb9af7">;</span>
        <span style="color:#bb9af7">return</span> <span style="color:#7aa2f7">qrand</span><span style="color:#bb9af7">()</span><span style="color:#bb9af7">;</span>
    <span style="color:#bb9af7">}</span>

    <span style="color:#565f89">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold">BUG</span><span style="color:#565f89">: bogus integer constant inside next line */</span>
    <span style="color:#bb9af7">const</span> <span style="color:#bb9af7">double</span> g <span style="color:#bb9af7">=</span> <span style="color:#ff9e64">1.1e12</span> <span style="color:#bb9af7">*</span> <span style="color:#ff9e64">0b01'01'01'01</span> <span style="color:#bb9af7">-</span> <span style="color:#ff9e64">43</span><span style="color:#db4b4b">a</span> <span style="color:#bb9af7">+</span> <span style="color:#ff9e64">0x11234</span> <span style="color:#bb9af7">*</span> <span style="color:#ff9e64">0234</span><span style="color:#f7768e">ULL</span> <span style="color:#bb9af7">-</span> <span style="color:#9ece6a">'c'</span> <span style="color:#bb9af7">*</span> <span style="color:#ff9e64">42</span><span style="color:#bb9af7">;</span>
    <span style="color:#bb9af7">return</span> g <span style="color:#bb9af7">></span> <span style="color:#ff9e64">1.3</span><span style="color:#f7768e">f</span><span style="color:#bb9af7">;</span>
<span style="color:#bb9af7">}</span>
</pre>
