<pre style="background-color:#1f1f1f;color:#d4d4d4">
<span style="color:#6a9955">/**</span>
<span style="color:#6a9955"> * </span><span style="color:#569cd6;font-style:italic">SPDX-FileCopyrightText:</span><span style="color:#6a9955"> 2020 Christoph Cullmann </span><span style="color:#569cd6;font-weight:bold">&lt;cullmann@kde.org></span>
<span style="color:#6a9955"> * </span><span style="color:#569cd6;font-style:italic">SPDX-License-Identifier:</span><span style="color:#569cd6;font-style:italic"> </span><span style="color:#569cd6;font-style:italic">MIT</span>
<span style="color:#6a9955"> */</span>

<span style="color:#6a9955">// </span><span style="color:#88c0d0;background-color:#252b34">BEGIN</span>
<span style="color:#569cd6">#include </span><span style="color:#c586c0">&lt;string></span>
<span style="color:#569cd6">#include </span><span style="color:#c586c0">&lt;QString></span>
<span style="color:#6a9955">// </span><span style="color:#88c0d0;background-color:#252b34">END</span>

<span style="color:#6a9955">/**</span>
<span style="color:#6a9955"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold">TODO</span><span style="color:#6a9955">: improve documentation</span>
<span style="color:#6a9955"> * </span><span style="color:#569cd6;font-weight:bold;font-style:italic">@param</span><span style="color:#6a9955"> </span><span style="color:#42ac93;font-weight:bold">magicArgument</span><span style="color:#6a9955"> some magic argument</span>
<span style="color:#6a9955"> * </span><span style="color:#569cd6;font-weight:bold;font-style:italic">@return</span><span style="color:#6a9955"> magic return value</span>
<span style="color:#6a9955"> */</span>
<span style="color:#569cd6">int</span> main(<span style="color:#569cd6">uint64_t</span> magicArgument)
{
    <span style="color:#c586c0;font-weight:bold">if</span> (magicArgument > <span style="color:#b5cea8">1</span>) {
        <span style="color:#569cd6;font-style:italic">const</span> <span style="color:#4ec9b0">std::string</span> string = <span style="color:#ce9178">"source file: </span><span style="color:#d7ba7d">\"</span><span style="color:#ce9178">"</span> <span style="color:#9cdcfe">__FILE__</span> <span style="color:#ce9178">"</span><span style="color:#d7ba7d">\"</span><span style="color:#ce9178">"</span>;
        <span style="color:#569cd6;font-style:italic">const</span> <span style="color:#5e81ac">QString</span> qString(<span style="color:#5e81ac">QStringLiteral</span>(<span style="color:#ce9178">"test"</span>));
        <span style="color:#c586c0;font-weight:bold">return</span> <span style="color:#dcdcaa">qrand</span>();
    }

    <span style="color:#6a9955">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold">BUG</span><span style="color:#6a9955">: bogus integer constant inside next line */</span>
    <span style="color:#569cd6;font-style:italic">const</span> <span style="color:#569cd6">double</span> g = <span style="color:#b5cea8">1.1e12</span> * <span style="color:#b5cea8">0b01'01'01'01</span> - <span style="color:#b5cea8">43</span><span style="color:#f44747;text-decoration:underline">a</span> + <span style="color:#b5cea8">0x11234</span> * <span style="color:#b5cea8">0234</span><span style="color:#4ec9b0">ULL</span> - <span style="color:#ce9178">'c'</span> * <span style="color:#b5cea8">42</span>;
    <span style="color:#c586c0;font-weight:bold">return</span> g > <span style="color:#b5cea8">1.3</span><span style="color:#4ec9b0">f</span>;
}
</pre>
