{{ define "main" }}
{{ $team := partial "fn/i18n_data" (slice "team") }}
<main class="container" role="main">
  <article class="post-content">
    <h1>{{ .Title }}</h1>
    <hr>
    {{ .Content }}

    <h2>{{ i18n "team-last-year" }}</h2>
    <p>{{ partial "fn/i18n_args" (slice "team-last-year-info" (len $team.lastYear)) | markdownify }}</p>
    {{ partial "contributor_list.html" $team.lastYear }}

    <h2>{{ i18n "team-all-time" }}</h2>
    <p>{{ partial "fn/i18n_args" (slice "team-all-time-info" (len $team.allTime)) | markdownify }}</p>
    {{ partial "contributor_list.html" $team.allTime }}
  </article>
</main>
{{ end }}
