{{ define "main" }}
<main id="home">
  <section class="text-center py-4 mt-0 header-plasma20" style="background: linear-gradient(-30deg, #00d2ff 0%, #3a47d5 100%);; color: white">
    <h1 style="color: #eff0f1 !important">{{ .Params.name }}</h1>
    <h2 style="color: #eff0f1 !important">{{ .Params.subtitle }}</h2>
        <p>{{ i18n "available" }}</p>
        <a href="{{ "/get-it" | relLangURL }}" hreflang="{{ .Site.LanguagePrefix }}" class="learn-more button noblefir my-2 mx-3">{{ i18n "get-it" }}</a>
    <div class="laptop-with-overlay d-block mt-5 mb-3 mx-auto w-100" style="max-width: 1000px">
      <img class="laptop img-fluid" src="/reusable-assets/laptop.svg" alt="">
      <div class="laptop-overlay">
        <img class="img-fluid" src="/images/kate-window.png" alt="{{ i18n "plasma" }} ">
      </div>
    </div>
  </section>

  <section id="kde-connect">
    <div class="container">
      <h2 class="h1">{{ i18n "features" }}</h2>
      <h3 class="h2">{{ i18n "features-subtitle" }}</h3>
      <p>{{ i18n "features-desc" | markdownify }}</p>
      <p>
      <a class="learn-more mt-3" hreflang="{{ .Site.LanguagePrefix }}" href="{{ "/about-kate/" | relLangURL }}">{{ i18n "all-features" }}</a>
      </p>
      <div>
      <h3 class="mt-5">{{ i18n "syntax-color" | markdownify }}</h3>
      <div class="row mb-5 app">
        <div class="col-12 col-lg-7">
          <div>
            <p>{{ i18n "syntax-more" }}
            <img src="/images/kate-syntax-example.png" alt="{{ i18n "kate-syntax-example" }}" class="img-fluid border">
          </div>
        </div>
        <a href="/syntax" class="col-12 col-lg-5"><img class="img-fluid" src="/images/kate-syntax.png" alt="{{ i18n "kate-syntax-screen" }}" loading="lazy" width="320" height="510" /></a>
      </div>
      <h3 class="mt-5">{{ i18n "multicursor" }}</h3>
      <div class="row app">
        <div class="col-12 col-lg-10">
          <div class="w-100">
            <p>{{ i18n "multicursor-desc" | markdownify }}</p>
            <img src="/images/kate-multicursor.gif" alt="{{ i18n "multicursor-example" }}" class="img-fluid border">
          </div>
        </div>
      </div>
      <h3 class="mt-5">{{ i18n "projects-work" }}</h3>
      <div class="row app">
        <div class="col-12 col-lg-8">
          <div class="w-100">
            <p>{{ i18n "project-desc" }}</p>
            <img src="/images/search.png" alt="{{ i18n "kate-search-example" }}" class="img-fluid border">
          </div>
        </div>
        <div class="col-lg-4">
          <img class="img-fluid mt-3 mt-md-0" src="/images/sidebar.png" alt="{{ i18n "kate-sidebar" }}" width="232" height="426" loading="lazy" />
        </div>
      </div>
      <h3 class="mt-5">{{ i18n "programing" }}</h3>
      <div class="row app">
        <div class="col-12 col-lg-10">
          <div class="w-100">
            <p>{{ i18n "programing-desc" | markdownify }}</p>
            <img src="/images/completion.png" alt="{{ i18n "kate-search-example" }}" class="img-fluid border">
          </div>
        </div>
      </div>
      <h3 class="mt-5">{{ i18n "extendsit" }}</h3>
      <div class="row app">
        <div class="col-12 col-lg-10">
          <div class="w-100">
            <p>{{ i18n "extendsit-desc" | markdownify }}</p>
            <img src="/images/konsole.png" alt="{{ i18n "kate-konsole" }}" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-green py-4">
    <div class="container">
      <h2 class="mb-3 h1">{{ i18n "posts" }}</h2>
      <div class="row">
      {{ $pages := (.Site.GetPage "/post").RegularPagesRecursive }}
      {{ range .Site.Home.Translations }}
      {{ $pages = $pages | lang.Merge (.Site.GetPage "/post").RegularPagesRecursive }}
      {{ end }}
      {{ range first 4 (where $pages "Params.hidden" "ne" "true") }}
        <div class="col-12 col-md-6 mb-4">
          <div class="text-lighter">{{ partial "i18n_date.html" . }}</div>
          <h3 class="mt-1 h4">{{ .Title | safeHTML}}</h3>
          <div class="post-entry mt-3">
            {{ if .Description }}
              {{ .Description }}
            {{else}}
              {{ .Summary }}
            {{end}}
            {{ if .Truncated }}
              <a href="{{ .Permalink }}" class="d-block mt-2">{{i18n "read-more" }}</a>
            {{ end }}
          </div>
        </div>
      {{end}}
      </div>
      <a href="/post/" class="learn-more mt-3" style="font-weight: bold;">&#x1F4E2; {{ i18n "view-all-posts" }}</a>
    </div>
  </section>
</main>
{{ end }}
